<div class="container-main">
  <nav class="navbar navbar-light bg-light justify-content-between rounded">
    <h1>Welcome to Yelp</h1>
    <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-danger rounded" %>
  </nav>
  <div class="container-list">
    <ul>
      <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
      <% end%>
    </ul>
  </div>

</div>
