// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.container-main {
  margin: 25px;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container-list {
  margin: 20px;
  text-align: left;
}

.form-review {
  width: 400px;
}
